@media only screen and (min-width: 32.5rem) {
    header img{ width:100px;}
   body{
       font-size: 18px;
   }
    .mainforecast{
        display:inline;
        
    } 
    .forecast{
        display:list-item;
        display:block;
        color: #fff;
        background-color: white;
        padding: 10px;
        margin: 10px;
        
    }

/*.towndata {
	max-width: 600px;
  margin: auto;
	
  
	display: flex;
    flex-wrap: wrap;
    
}
.towndata article{
    display: flex;
      flex-direction: row;
      padding:1rem;
      background-color: #CAE8F7;
      color:black;
      
      border: 2px solid #104911;
      
  }


.towndata article:nth-child(odd){
    flex-direction: row-reverse;
    
}
.towndata img{
    width:55%;*/
   
    header h1{
        font-size:50px;
    }
    h2{
       
        font-size: 40px;
    }
    h3{font-size:25px;}

    .weather-forecast{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 2rem;
    }

    .key{
    
        margin-top:5rem;
    }
    
    .cards{ 
        display:grid;
        grid-template-columns: 1fr 1fr;
        margin:1rem;
        
       padding: 1rem;
    
    }
    #buttons{
        display:flex;
        float:right;
        margin-top:-3rem;
        
    }
    .button-hide{
        
        background-color:rgba(248, 159, 18, .6);
        color:black;
        padding:.5rem;
        width:4rem;
        box-sizing: border-box;
        border-radius: 10px;
        
        margin-right:1rem;
        font-size: 12px;

        
    }
    .contact-grid{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .google-map{
        align-self:center;
    }
    /*#gridview{
        margin-left:800px;
        margin-top:-90px;
    margin-bottom:1rem;
    
}
        
    #listview{
            margin-left:450px;
            margin-top:-90px;
            margin-bottom:1rem;}*/

            .weather{
                margin-left:auto;
                margin-right:auto;
            }
            .demo-grid{
                display:flex;
                
                
                align-items: center;
                
            }
      
   
    }
    








