body{
    
    font-family: 'Noto Serif SC', serif;
    font-size: 15px;  
    box-sizing: border-box;
    
}
header{
    display:flex;
    align-items:center;
    justify-content: center;
    padding:3.5rem;
   
}
header img{width:80px;}
.headings{
    display:flex;
    flex-direction: column;
    padding:0;
    position:relative;
     
}
nav button{
    margin:.2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #f5f5f5;
}
nav{
    background-color: #104911;
   text-align:center; 
}

nav ul{
    list-style-type: none;
    padding:0;
    margin:0;
      
}
nav ul li a {
    display: block;
    padding:.8rem 2%;
    text-decoration:none;
    color:rgba(255,255,255,0.8);
    border-top: 1px solid rgba(0,0,0,0.3);
    text-align: center;
}
nav ul li.active a{background-color: rgba(0,0,0,0.3); color:#fff;}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
}

nav ul.hide {display:none;}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
 
  main footer { 
      
      margin: auto;
    margin: 10px;
}

footer{
    text-align: center;
    font-family: 'ABeeZee', sans-serif;
    font-size: 14px;
    background-color:#104911;
    color:white;

    padding: 1rem;
    margin-top: 2rem;
}
footer a{
    color:white;


}

h1, h2, h3, h4, h5, h6{
    font-family: 'ABeeZee', sans-serif;
    
    text-align: center;

}

header{
    /*background-color:rgba(249, 166, 32, .4);*/
   background-color:rgba(168, 213, 226, 0.3);
    padding-bottom: 2rem;
}
header h1{
    margin-bottom: 8px;
}

main {max-width:1200px;
    margin:0 auto;}
h1 {text-align: center;font-size:30px;text-shadow:3px 3px 5px #777;}

.herodiv {margin: 10px auto;position: relative;}
h1, h2, p {margin: 0;}



.forecast{
    display:none;
}

div img{
    display:block; margin-left:auto; margin-right:auto; box-sizing:border-box; width:100%;
    padding:1rem;
}

h2{
    padding:2rem;
    font-size: 25px;
}
h3{font-size:20px;}

#mediapic{
    max-width: 150px;
}
#contact{
        display:flex;
        flex-direction: column;
        text-align: center;   
        color:#2B2727;
        background-color:rgba(154, 209, 117, 0.2);
        padding: 10px;
        border: 1px solid black;
        margin: 10px;
        border-radius:5px;}


.daysofweek{
    background-color:#9AD175;
    color:black;
}

.mainforecast{
    display:none;
}


.myphoto{
    display:block; margin-left:auto; margin-right:auto; box-sizing:border-box; width:100%;
    padding:1rem;

}


#weathersummary{
    text-align: center;
}
.weather
{
    display:block;
	border: 5px solid  #104911;
	padding: 1.5rem;
	box-shadow: 0 0 20px #111;
   opacity: .8;
   border-radius:10px;
    
    
    text-align: center;
    width:max-content;
    margin-left:1rem;
   
}


table, th{
    border: 3px solid #104911;
    border-collapse:collapse;
    
    padding: 10px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    
   
}
table, td{
    color:black;
    text-align: right;
    font-size:22px;
}



.mainforecast{
    display:none;
    
}
table { width:90%;
}
th { width:30%;}


.mainblocks div{
    padding:2rem;
    border: 2px solid #104911;
    border-radius:10px;
    color:black;
    margin:1rem;
    
    text-align: center;
   font-size: 14px;
}
.mainblocks img{
    display:none;
}
 .benefits, .benefit-join{
     
     
     display:block;
      background: radial-gradient(white,rgba(255, 203, 31, 0.8));
     border: 2px solid #104911;
     padding: 1.5rem;
     box-shadow: 0 0 15px #111;
     opacity: .9;
     margin:1rem;
     border-radius:10px;
     text-align: center;
    
 }
.benefit-join h4{
    margin-bottom:-.1rem;
    text-align: left;
}
 .benefit-join p{
     text-align: left;
     padding:.1rem;
 }
 .weather-forecast{
     display:grid;
     grid-template-columns: 1fr 1fr;
     margin: 2rem;
   

 }
 .mainblocks div p{
     padding:.25rem;
     
 }
 .mainblocks h3{
     margin-bottom:.5rem
 }
 
.founded{
    display:flex;
    align-items: center;
    justify-self: center;
}
header{
    display:grid;
    grid-template-rows: 1fr 1fr;
 
}
.media{
    display:inline-flex;
    
}
.media img{
    max-width: 60px;
    
}

form fieldset {
    margin: 2rem 1rem;
    border: 3px solid #104911;
    border-radius: 10px;
    padding: 1.5rem;
    
}
form{
    max-width: 400px;
    
   
}

form legend{
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;

}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;

}

form label.top input, form label.top select{
    -webkit-appearance: none;
    display:block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 5px;
    padding: .75rem 0;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(154, 209, 117, 0.3);
}

form label.sbs{
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn{
    border: none;
    background-color:#9AD175;
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 1rem;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required{
    border-left:#F9A620 solid 6px;
}

form label.top input:required:valid{
    border-left: #548C2F solid 6px;
}



 #textbox{
     display:block;
 }
 .join-grid{
     display:grid;
     grid-template-columns: 1fr;
 }
 .key{
     border: #548C2F solid 4px;
     padding: 1.5rem;
     border-radius:10px;
     margin:1rem;
     text-align: center;
 }
 .key h4{
     margin-bottom:.1rem;
     font-size: 20px;
     
 }
 .key div{
     margin:.2rem;
     padding:.2rem;
 }
 .key p{
     padding-bottom:1rem;
 }
 .nonprof{
background-color: rgba(170, 85, 0, .5);
border-radius:10px;
 }
 .bronze{
background-color:rgba(170, 85, 0, .7);
border-radius:10px;
 }
 .silver{
background-color: rgba(147, 144, 151, .7);
border-radius:10px;
 }
 .gold{
background-color:rgba(219, 180, 44, .7);
border-radius:10px;
 }

 .cards{ 
    display:grid;
    grid-template-columns: 1fr;
    border-radius:10px;
    border:black solid 3px;
   padding: .8rem;
   background-color: rgba(154, 209, 117, 0.2);
}
.direct-main{
    margin-left:auto; margin-right:auto; box-sizing:border-box; 
padding:1rem;

}
.cards section{
    background-color:white;
    border: 3px dashed #104911;
    margin-left:auto; margin-right:auto; box-sizing:border-box; 
    margin-top:.5rem;
    width:300px;
    
    padding:1rem;  
}
.cards {
    font-size: 16px;
}
.cards h3, p{
    
    margin-bottom:.5rem;
    
}
.cards{
    text-align:center;
}

.cards img{
    display:block; margin-left:auto; margin-right:auto; box-sizing:border-box; max-width:150px;
    padding:1rem;

}
#buttons{
    display:none;
}
.google-map{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin:1rem;
}
.google-map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.org-contact, .org-info{margin: 2rem 1rem;
    border: 3px solid #104911;
    border-radius: 10px;
    padding: 1.5rem;
    
}

    .org-contact h4, .org-info h4{
        margin-bottom:.1rem;
        margin-top: 2rem;
        text-align: left;
    }
    .org-contact p, .org-info p,.org-contact h3, .org-info h3{
        text-align: left;
    }

    #textbox{
        width: 100%;
  
  
  
  box-sizing: border-box;
  resize: vertical;
    }
    .bold{
        font-style:oblique;
    }
    .history, .demo, .current-events{
        border: 3px solid  #548C2F;
        margin:1rem;
        border-radius: 10px;
        padding: 1.5rem;

    }
   
    .current-events h4, .demo h4{
        margin-bottom:.1rem;
     font-size: 18px;
     margin-top:-.1rem;

    }
    .current-events p, .demo p{
        padding-bottom:1rem;
    }
    .demo p, .demo h4{
        text-align: left;
    }
   #hide-me{
       display:none;
   }
  aside{
    background-color:red;
    color:white;
    position:absolute;
    text-align: left;
    padding: .5rem;
    /*display:block;*/
    width:100%;

}