@media only screen and (min-width: 32.5rem) {
    header img{ width:100px;}
    .gallery-home {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    
/* {padding: .35rem;}
.towndata h2 {text-align:center;
display:block;}
.towndata p {text-align:center;
display:block;}
.towndata h3{text-align: center;
display:inline-block;}*/

.towndata {
	max-width: 800px;
  margin: .5rem auto;
	border:1px solid #bbb;
  background-color: #eee;
	display: flex;
    flex-wrap: wrap;
    
}
.towndata div {
    display: flex;
      flex-direction: row;
      padding:1rem;
      background-color:black;
      margin:1rem;
      
  }


.towndata div:nth-child(odd){
	flex-direction: row-reverse;
}

.towndata img {border:1px solid #000080; width: 90%; height: auto;}
.towndata { color:#fff;}
   
}