@media only screen and (min-width: 32.5rem) {
    header img{ width:100px;}
    .gallery-home {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    
/* {padding: .35rem;}
.towndata h2 {text-align:center;
display:block;}
.towndata p {text-align:center;
display:block;}
.towndata h3{text-align: center;
display:inline-block;}*/

.towndata {
	max-width: 800px;
  margin: .5rem auto;
	
  
	display: flex;
    flex-wrap: wrap;
    
}
.towndata div {
    display: flex;
      flex-direction: row;
      padding:1rem;
      background-color: #CAE8F7;
      color:black;
      margin: .5rem;
      border: 2px solid #1F8BC1;
  }


.towndata div:nth-child(odd){
	flex-direction: row-reverse;
}

.towndata img {width: 100%; height: auto;}

   
}