@media only screen and (min-width: 32.5rem) {
    header img{ width:100px;}
    .gallery-home {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    
/* {padding: .35rem;}*/
.towndata h2 {text-align:center;}

.towndata section {
	max-width: 600px;
  margin: .5rem auto;
	border:1px solid #bbb;
  background-color: #eee;
	display: flex;
	flex-wrap: wrap;
}



.towndata section:nth-child(odd) {
	flex-direction: row-reverse;
}

.towndata img {border:1px solid #000080; width: 100%; height: auto;}
.towndata {background-color:#000; color:#fff;}
   
}