@media only screen and (min-width: 56rem) {
    
    nav ul li a {
        padding: .6rem 1rem;
    }
    nav {/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#007dbc+0,72a5bf+100 */
        background: #007dbc; /* Old browsers */
        background: -moz-linear-gradient(top,  #007dbc 0%, #72a5bf 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #007dbc 0%,#72a5bf 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #007dbc 0%,#72a5bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007dbc', endColorstr='#72a5bf',GradientType=0 ); /* IE6-9 */
        
        }
    nav button {display: none;}
    nav ul.hide{display:block;}
    nav ul{margin-left: 2%;}
    nav ul li{
        float: left;
    }
    nav ul li a{
        border:none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
        
    }
    header img{ width:128px;}
    nav{ 
        display:flex;
        align-items:center;
        justify-content: center;
    }
    

.forecast{
    display:list-item;
    display:block;
    color: #fff;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
    
}
#peoplepark{
    max-width:600px;
    float: right;}


#contact{
    display:grid;
    grid-template-columns: 1fr 1fr;  
      color: #fff;
      background-color: #E9C886;
      padding: 10px;
      border: 1px solid black;
      margin: 10px;
    }

    .googlemap{
        display:list-item;
    }
    .mainforecast{
        display:inline;
    }
}
   


