main{
    
    grid-template-columns: 1fr;
    font-size:16px;
    font-family:'Times New Roman', Times, serif;}

header{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
}
div{ 
    display:grid;
    margin:0;
    background-color: rgb(55, 107, 219);
   padding: .8rem;

}
section{
    
    background-color: rgb(216, 226, 247);
    border: .1rem black solid;
    margin-left:auto; margin-right:auto; box-sizing:border-box; 
    
    margin:.1rem;
   
    
    
}
h2, p{
    text-align: center;
    margin-bottom:-.5rem;
    
}
h1{text-align:center;
    

}
img{
    display:block; margin-left:auto; margin-right:auto; box-sizing:border-box; width:50%;
    padding:1rem;
    border: black;
    
    

}
footer{
    text-align:center;
}
@media only screen and (min-width: 32.5rem) {
    
    div {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    img{width:75%;}
   
}
@media only screen and (min-width: 56rem) {
    div{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    }