body{
   
    font-family: 'Overpass Mono', monospace;
    box-sizing: border-box;
    font-size: 20px;
    
   
   
}
header, footer, main, nav {
    max-width: 960px;
    margin: 1.25rem auto;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li a {
   display: block;
    background-color:#2B2727;
    color:#E6C075;
    text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}

h1, h2, h3, h4, h5, h6 {
    padding:1rem;
    color:white;
    background-color:#1F8BC1;
    font-family: 'Fraunces', serif;
}

p {color:#2B2727;}

#colored{
    color:#2B2727;
    background-color:#E6C075;
}
footer{
    text-align: center;
    font-size: 14px;
    padding: .4rem;
    color:#2B2727;
    border-radius:.5rem;
    
}